In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import nltk
import warnings
warnings.filterwarnings('ignore')
from scipy.sparse import hstack, csr_matrix

In [2]:
train=pd.read_csv('Final_Train_Dataset.csv')
test=pd.read_csv('Final_Test_Dataset.csv')

In [3]:
train.head()

,Unnamed: 0,experience,job_description,job_desig,job_type,key_skills,location,salary,company_name_encoded
0,0,5-7 yrs,Exp: Minimum 5 years;Good understanding of IOC...,Senior Exploit and Vulnerability Researcher,NaN,"team skills, communication skills, analytical ...",Delhi NCR(Vikas Puri),6to10,3687
1,1,10-17 yrs,He should have handled a team of atleast 5-6 d...,Head SCM,NaN,"ppc, logistics, inventory management, supply c...",Sonepat,10to15,458
2,2,5-9 yrs,Must be an effective communicator (written & s...,Deputy Manager - Talent Management & Leadershi...,Analytics,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,15to25,4195
3,3,7-10 yrs,7 - 10 years of overall experience in data e...,Associate Manager Data Engineering,Analytics,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,10to15,313
4,4,1-3 yrs,Chartered Accountancy degree or MBA in Finance...,TS- GSA- Senior Analyst,NaN,"accounting, finance, cash flow, financial plan...",Gurgaon,3to6,1305

In [4]:
test.head()

,experience,job_description,job_desig,job_type,key_skills,location,company_name_encoded
0,7-12 yrs,Professional experience in Java/J2EE based ser...,IT Technology Senior Consultant/java/ J2ee/ Se...,NaN,"Java, J2Ee, Tomcat, JBoss, Weblogic, Oracle, E...",Bengaluru,2066
1,0-5 yrs,We are looking for 20+ Fresher/Experienced Can...,Medical Billing Process | International KPO | ...,NaN,"Medical Billing, Insurance Processing",Ahmedabad(Sola),2629
2,3-6 yrs,Should understand overall integration framewor...,Oracle Sales Cloud Functional Consultant,NaN,"Oracle Sales, Functional Consultancy, Troubles...",Bengaluru,2448
3,0-3 yrs,NaN,Looking For Freshers WHO WANT To Work WITH US,NaN,"offline, online, internet, part time, home bas...","Delhi NCR, Chennai, Hyderabad, Gurgaon, Luckno...",2711
4,0-5 yrs,NaN,Process Associate / Sr Process Associate / Tec...,NaN,"voice support, analytical skills, Process asso...",Hyderabad,40

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19802 entries, 0 to 19801
Data columns (total 9 columns):
Unnamed: 0              19802 non-null int64
experience              19802 non-null object
job_description         15384 non-null object
job_desig               19802 non-null object
job_type                4797 non-null object
key_skills              19801 non-null object
location                19802 non-null object
salary                  19802 non-null object
company_name_encoded    19802 non-null int64
dtypes: int64(2), object(7)
memory usage: 1.4+ MB

In [6]:
train=train.dropna(subset=['key_skills'])

In [7]:
df_train=train[['job_description','job_desig','experience','job_type','key_skills','location','salary']]

In [8]:
df_test=test[['job_description','job_desig','experience','job_type','key_skills','location']]

In [9]:
def clean_skills(skl):
    skills=str(skl).lower()
    skills=re.sub(r'\...','',skills)
    skills=re.sub(r',','',skills)
    skills=re.sub(r's+','',skills)
    return skills
df_train['cleaned_skills']=df_train['key_skills'].apply(clean_skills)
df_test['cleaned_skills']=df_test['key_skills'].apply(clean_skills)

In [10]:
def clean_job_desig(desig):
    job_desig=str(desig).lower()
    job_desig=re.sub(r'[^a-z]','',job_desig)
    job_desig=re.sub(r's+','',job_desig)
    return job_desig
df_train['Cleaned_job_desig']=df_train['job_desig'].apply(clean_job_desig)
df_test['Cleaned_job_desig']=df_test['job_desig'].apply(clean_job_desig)

In [11]:
df_train['job_description'].fillna('missing',inplace=True)
df_test['job_description'].fillna('missing',inplace=True)

def clean_job_desc(job):
    job_desc=str(job).lower()
    job_desc=re.sub(r'[^a-z]','',job_desc)
    job_desc=re.sub(r'\s+','',job_desc)
    return job_desc
df_train['Cleaned_job_desc']=df_train['job_description'].apply(clean_job_desc)
df_test['Cleaned_job_desc']=df_test['job_description'].apply(clean_job_desc)

In [12]:
def clean_location(loc):
    location=str(loc).lower()
    location=re.sub(r'[^a-z]','',location)
    location=re.sub(r'\s+','',location)
    return location
df_train['cleaned_location']=df_train['location'].apply(clean_location)
df_test['cleaned_location']=df_test['location'].apply(clean_location)

In [13]:
train['job_type'].fillna('missingjobtype', inplace=True)
train['job_type'].replace('Analytics', 'analytics', inplace=True)
train['job_type'].replace('Analytic', 'analytics', inplace=True)
train['job_type'].replace('ANALYTICS', 'analytics', inplace=True)
train['job_type'].replace('analytic', 'analytics', inplace=True)

test['job_type'].fillna('missingjobtype', inplace=True)
test['job_type'].replace('Analytics', 'analytics', inplace=True)
test['job_type'].replace('Analytic', 'analytics', inplace=True)
test['job_type'].replace('ANALYTICS', 'analytics', inplace=True)
test['job_type'].replace('analytic', 'analytics', inplace=True)

df_train['job_type_cleaned'] = train['job_type'] 
df_test['job_type_cleaned'] = test['job_type']

In [14]:
def min_exp(exp):
    val = re.sub(r'\-',' ', exp)
    val = val.split(' ')
    val = int(val[0])
    return val
def max_exp(exp):
    val = re.sub(r'\-',' ', exp)
    val = val.split(' ')
    val = int(val[1])
    return val

df_train['max_exp']=df_train['experience'].apply(max_exp)
df_test['max_exp']=df_test['experience'].apply(max_exp)

df_train['min_exp']=df_train['experience'].apply(min_exp)
df_test['min_exp']=df_test['experience'].apply(min_exp)

In [15]:
df_train.head()

,job_description,job_desig,experience,job_type,key_skills,location,salary,cleaned_skills,Cleaned_job_desig,Cleaned_job_desc,cleaned_location,job_type_cleaned,max_exp,min_exp
0,Exp: Minimum 5 years;Good understanding of IOC...,Senior Exploit and Vulnerability Researcher,5-7 yrs,NaN,"team skills, communication skills, analytical ...",Delhi NCR(Vikas Puri),6to10,team kill communication kill analytical kill p...,eniorexploitandvulnerabilityreearcher,expminimumyearsgoodunderstandingofiocrulesmust...,delhincrvikaspuri,missingjobtype,7,5
1,He should have handled a team of atleast 5-6 d...,Head SCM,10-17 yrs,NaN,"ppc, logistics, inventory management, supply c...",Sonepat,10to15,ppc logitic inventory management upply chain m...,headcm,heshouldhavehandledateamofatleastdirectreporte...,sonepat,missingjobtype,17,10
2,Must be an effective communicator (written & s...,Deputy Manager - Talent Management & Leadershi...,5-9 yrs,Analytics,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,15to25,hr analytic employee engagement training uccei...,deputymanagertalentmanagementleaderhipdevelopm...,mustbeaneffectivecommunicatorwrittenspokenands...,delhincr,analytics,9,5
3,7 - 10 years of overall experience in data e...,Associate Manager Data Engineering,7-10 yrs,Analytics,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,10to15,ql javacript automation python ruby analytic m...,aociatemanagerdataengineering,yearsofoverallexperienceindataengineeringandbi...,bengaluru,analytics,10,7
4,Chartered Accountancy degree or MBA in Finance...,TS- GSA- Senior Analyst,1-3 yrs,NaN,"accounting, finance, cash flow, financial plan...",Gurgaon,3to6,accounting finance cah flow financial planning...,tgaenioranalyt,charteredaccountancydegreeormbainfinancefromap...,gurgaon,missingjobtype,3,1

In [16]:
df_train['merged']=(df_train['Cleaned_job_desig']+''+df_train['Cleaned_job_desc']+''+df_train['job_type_cleaned']+''+df_train['cleaned_skills'])

In [17]:
df_test['merged']=(df_test['Cleaned_job_desig']+''+df_test['Cleaned_job_desc']+''+df_test['job_type_cleaned']+''+df_test['cleaned_skills'])

In [18]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df_train['salary']=le.fit_transform(df_train['salary'])

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_cv, y_train, y_cv = train_test_split(
    df_train[['merged', 'cleaned_location', 'min_exp', 'max_exp']], 
    df_train['salary'], test_size=0.20, 
    stratify=df_train['salary'], random_state=75)

In [20]:
print('No. of sample texts X_train: ', len(X_train))
print('No. of sample texts X_cv   : ', len(X_cv))

No. of sample texts X_train:  15840
No. of sample texts X_cv   :  3961

In [21]:
X_train_merged = X_train['merged']
X_train_loc = X_train['cleaned_location']

X_cv_merged = X_cv['merged']
X_cv_loc = X_cv['cleaned_location']

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [23]:
tf1 = TfidfVectorizer(min_df=3, token_pattern=r'\w{3,}', ngram_range=(1,3), max_df=0.9)
tf2 = TfidfVectorizer(min_df=2, token_pattern=r'\w{3,}')

X_train_merged = tf1.fit_transform(X_train_merged)
X_train_loc = tf2.fit_transform(X_train_loc)

X_cv_merged = tf1.transform(X_cv_merged)
X_cv_loc = tf2.transform(X_cv_loc)

In [24]:
from scipy import sparse
from sklearn.preprocessing import StandardScaler

sc1 = StandardScaler()
X_train_MinExp = sc1.fit_transform(np.array(X_train['min_exp']).reshape(-1,1))
X_cv_MinExp = sc1.transform(np.array(X_cv['min_exp']).reshape(-1,1))
X_train_MinExp = sparse.csr_matrix(X_train_MinExp)
X_cv_MinExp = sparse.csr_matrix(X_cv_MinExp)

sc2 = StandardScaler()
X_train_MaxExp = sc2.fit_transform(np.array(X_train['max_exp']).reshape(-1,1))
X_cv_MaxExp = sc2.transform(np.array(X_cv['max_exp']).reshape(-1,1))
X_train_MaxExp = sparse.csr_matrix(X_train_MaxExp)
X_cv_MaxExp = sparse.csr_matrix(X_cv_MaxExp)

In [25]:
merged_train = hstack((X_train_merged, X_train_loc, X_train_MinExp, X_train_MaxExp))
merged_cv  = hstack((X_cv_merged, X_cv_loc, X_cv_MinExp, X_cv_MaxExp))

In [26]:
merged_train.shape, merged_cv.shape

((15840, 15217), (3961, 15217))

In [27]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [28]:
import lightgbm as lgb
train_data = lgb.Dataset(merged_train, label=y_train)
test_data = lgb.Dataset(merged_cv, label=y_cv)

In [29]:
param = {'objective': 'multiclass',
         'num_iterations': 80,
         'learning_rate': 0.04,  
         'num_leaves': 23,
         'max_depth': 7, 
         'min_data_in_leaf': 28, 
         'max_bin': 10, 
         'min_data_in_bin': 3,   
         'num_class': 6,
         'metric': 'multi_logloss'
         }

In [30]:
lgbm = lgb.train(params=param,
                 train_set=train_data,
                 num_boost_round=100,
                 valid_sets=[test_data])

y_pred_class = lgbm.predict(merged_cv)

[1]	valid_0's multi_logloss: 1.72447
[2]	valid_0's multi_logloss: 1.70398
[3]	valid_0's multi_logloss: 1.68492
[4]	valid_0's multi_logloss: 1.66724
[5]	valid_0's multi_logloss: 1.65069
[6]	valid_0's multi_logloss: 1.6352
[7]	valid_0's multi_logloss: 1.62076
[8]	valid_0's multi_logloss: 1.60712
[9]	valid_0's multi_logloss: 1.59407
[10]	valid_0's multi_logloss: 1.58213
[11]	valid_0's multi_logloss: 1.57047
[12]	valid_0's multi_logloss: 1.55959
[13]	valid_0's multi_logloss: 1.54926
[14]	valid_0's multi_logloss: 1.5394
[15]	valid_0's multi_logloss: 1.52978
[16]	valid_0's multi_logloss: 1.52094
[17]	valid_0's multi_logloss: 1.51228
[18]	valid_0's multi_logloss: 1.50403
[19]	valid_0's multi_logloss: 1.49624
[20]	valid_0's multi_logloss: 1.48879
[21]	valid_0's multi_logloss: 1.48171
[22]	valid_0's multi_logloss: 1.4749
[23]	valid_0's multi_logloss: 1.46842
[24]	valid_0's multi_logloss: 1.46207
[25]	valid_0's multi_logloss: 1.45594
[26]	valid_0's multi_logloss: 1.45003
[27]	valid_0's multi_logloss: 1.44439
[28]	valid_0's multi_logloss: 1.43901
[29]	valid_0's multi_logloss: 1.43382
[30]	valid_0's multi_logloss: 1.42893
[31]	valid_0's multi_logloss: 1.42409
[32]	valid_0's multi_logloss: 1.41959
[33]	valid_0's multi_logloss: 1.4151
[34]	valid_0's multi_logloss: 1.41086
[35]	valid_0's multi_logloss: 1.40677
[36]	valid_0's multi_logloss: 1.40278
[37]	valid_0's multi_logloss: 1.39906
[38]	valid_0's multi_logloss: 1.39524
[39]	valid_0's multi_logloss: 1.39168
[40]	valid_0's multi_logloss: 1.38822
[41]	valid_0's multi_logloss: 1.38484
[42]	valid_0's multi_logloss: 1.38157
[43]	valid_0's multi_logloss: 1.3784
[44]	valid_0's multi_logloss: 1.37541
[45]	valid_0's multi_logloss: 1.37253
[46]	valid_0's multi_logloss: 1.36963
[47]	valid_0's multi_logloss: 1.36691
[48]	valid_0's multi_logloss: 1.36432
[49]	valid_0's multi_logloss: 1.3618
[50]	valid_0's multi_logloss: 1.35941
[51]	valid_0's multi_logloss: 1.35706
[52]	valid_0's multi_logloss: 1.35478
[53]	valid_0's multi_logloss: 1.35245
[54]	valid_0's multi_logloss: 1.35038
[55]	valid_0's multi_logloss: 1.34829
[56]	valid_0's multi_logloss: 1.34633
[57]	valid_0's multi_logloss: 1.34447
[58]	valid_0's multi_logloss: 1.34258
[59]	valid_0's multi_logloss: 1.34063
[60]	valid_0's multi_logloss: 1.33886
[61]	valid_0's multi_logloss: 1.33715
[62]	valid_0's multi_logloss: 1.3355
[63]	valid_0's multi_logloss: 1.33389
[64]	valid_0's multi_logloss: 1.33225
[65]	valid_0's multi_logloss: 1.33083
[66]	valid_0's multi_logloss: 1.32922
[67]	valid_0's multi_logloss: 1.32772
[68]	valid_0's multi_logloss: 1.32631
[69]	valid_0's multi_logloss: 1.325
[70]	valid_0's multi_logloss: 1.32369
[71]	valid_0's multi_logloss: 1.32232
[72]	valid_0's multi_logloss: 1.32108
[73]	valid_0's multi_logloss: 1.31985
[74]	valid_0's multi_logloss: 1.31863
[75]	valid_0's multi_logloss: 1.31743
[76]	valid_0's multi_logloss: 1.31626
[77]	valid_0's multi_logloss: 1.31515
[78]	valid_0's multi_logloss: 1.31423
[79]	valid_0's multi_logloss: 1.3133
[80]	valid_0's multi_logloss: 1.31216

In [31]:
predictions = []
for x in y_pred_class:
    predictions.append(np.argmax(x))

print('accuracy:', accuracy_score(y_cv, predictions))

accuracy: 0.44761423882857865

In [32]:
# For test data
X_train_merged = df_train['merged']
X_train_loc = df_train['cleaned_location']

X_test_merged = df_test['merged']
X_test_loc = df_test['cleaned_location']

y_train = df_train['salary']

In [33]:
tf1 = TfidfVectorizer(min_df=3, token_pattern=r'\w{3,}', ngram_range=(1,3))
tf2 = TfidfVectorizer(min_df=2, token_pattern=r'\w{3,}')

X_train_merged = tf1.fit_transform(X_train_merged)
X_train_loc = tf2.fit_transform(X_train_loc)

X_test_merged = tf1.transform(X_test_merged)
X_test_loc = tf2.transform(X_test_loc)

In [34]:
from scipy import sparse
from sklearn.preprocessing import StandardScaler

sc1 = StandardScaler()
X_train_MinExp = sc1.fit_transform(np.array(df_train['min_exp']).reshape(-1,1))
X_test_MinExp = sc1.transform(np.array(df_test['min_exp']).reshape(-1,1))
X_train_MinExp = sparse.csr_matrix(X_train_MinExp)
X_test_MinExp = sparse.csr_matrix(X_test_MinExp)

sc2 = StandardScaler()
X_train_MaxExp = sc2.fit_transform(np.array(df_train['max_exp']).reshape(-1,1))
X_test_MaxExp = sc2.transform(np.array(df_test['max_exp']).reshape(-1,1))
X_train_MaxExp = sparse.csr_matrix(X_train_MaxExp)

In [35]:
merged_train = hstack((X_train_merged, X_train_loc, X_train_MinExp, X_train_MaxExp))
merged_test  = hstack((X_test_merged, X_test_loc, X_test_MinExp, X_test_MaxExp))

In [36]:
import lightgbm as lgb
train_data = lgb.Dataset(merged_train, label=y_train)

param = {'objective': 'multiclass',
         'num_iterations': 80,
         'learning_rate': 0.04, 
         'num_leaves': 23,
         'max_depth': 7, 
         'min_data_in_leaf': 28, 
         'max_bin': 10, 
         'min_data_in_bin': 3,   
         'num_class': 6,
         'metric': 'multi_logloss'
         }

lgbm = lgb.train(params=param, 
                 train_set=train_data)

predictions = lgbm.predict(merged_test)

y_pred_class = []
for x in predictions:
    y_pred_class.append(np.argmax(x))

y_pred_class = le.inverse_transform(y_pred_class)

In [37]:
df_sub = pd.DataFrame(data=y_pred_class, columns=['salary'])

In [38]:
import xlsxwriter
writer = pd.ExcelWriter('output.xlsx', engine='xlsxwriter')
df_sub.to_excel(writer,sheet_name='Sheet1', index=False)
writer.save()